@model WhatsSupp.ViewModels.DinerCuisineVM

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Diner</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Diner.DinerId" />
            <input type="hidden" asp-for="Diner.IdentityUserId" />
            <div class="form-group">
                <label asp-for="Diner.FirstName" class="control-label"></label>
                <input asp-for="Diner.FirstName" class="form-control" />
                <span asp-validation-for="Diner.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diner.LastName" class="control-label"></label>
                <input asp-for="Diner.LastName" class="form-control" />
                <span asp-validation-for="Diner.LastName" class="text-danger"></span>
            </div>
            @for (int i = 0; i < Model.Cuisines.Count; i++)
            {

                <div>
                    <input asp-for="@Model.Cuisines[i].Selected" type="checkbox" />
                    <span>@Model.Cuisines[i].CuisineName</span>
                    <input asp-for="@Model.Cuisines[i].CuisineId" type="hidden" />
                    <input asp-for="@Model.Cuisines[i].CuisineName" type="hidden" />
                </div>

            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
